body {
    background-image: url("../images/back4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    color: rgb(72, 133, 245);
  }
  .container {
    width: 800px;
    margin-left: 200px;
  }
  .mainpic{
      margin-left: 300px;
      border-radius: 65%;
  }
  .content {
    color: lightgreen;
  }

  h1 {
    color:rgb(73, 148, 214);
  }
  h2 {
    color: whitesmoke;
    font-style: bold;
  }
h3 {
    color:rgb(100, 0, 0);
    font-style: bold;
    text-decoration: underline; 
}
  p {
    text-align: justify;
  }
